<div class="container">
    <mat-expansion-panel class="expansion-panel" [expanded]="true">
        <mat-expansion-panel-header class="expansion-header">
          <mat-panel-title>
            <span class="panel-title">365 Managed EDR</span>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="nav-container">
            <div class="test">
              <app-nav-element class="nav-item" routerLink="dashboard" routerLinkActive="highlighted" iconName="dashboard" text="Dashboard" [isFilled]="true"></app-nav-element>
              <app-nav-element class="nav-item" routerLink="endpoints" routerLinkActive="highlighted" iconName="device_hub" text="Endpunkte"></app-nav-element>
              <app-nav-element class="nav-item" iconName="shield" text="Incidents" ></app-nav-element>
              <app-nav-element class="nav-item" iconName="traffic" text="Handlungsempfehlungen"></app-nav-element>
            </div>
        </div>
    </mat-expansion-panel>

    <mat-expansion-panel class="expansion-panel" [expanded]="true">
      <mat-expansion-panel-header class="expansion-header">
        <mat-panel-title>
          <span class="panel-title">Exchange</span>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="nav-container">
            <app-nav-element class="nav-item" iconName="mail" text="Exchange Sicherheit"></app-nav-element>
        </div>
  </mat-expansion-panel>

  <mat-expansion-panel class="expansion-panel" [expanded]="true">
    <mat-expansion-panel-header class="expansion-header">
      <mat-panel-title>
        <span class="panel-title">Verwalten</span>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="nav-container">
        <app-nav-element class="nav-item" iconName="supervised_user_circle" text="Benutzer"></app-nav-element>
        <app-nav-element class="nav-item" iconName="assignment_ind" text="Rollen"></app-nav-element>
        <app-nav-element class="nav-item" iconName="account_tree" text="Organisationseinheiten"></app-nav-element>
    </div>
</mat-expansion-panel>
</div>