<div class="container">
    <mat-expansion-panel class="expansion-panel">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <span class="panel-title">365 Managed EDR</span>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="nav-container">
            <div class="test">
              <app-nav-element iconName="dashboard" text="Dashboard" [isFilled]="true"></app-nav-element>
              <app-nav-element iconName="device_hub" text="Endpunkte" [isHighlighted]="true"></app-nav-element>
              <app-nav-element iconName="shield" text="Incidents" ></app-nav-element>
              <app-nav-element iconName="traffic" text="Handlungsempfehlungen"></app-nav-element>
            </div>
        </div>
    </mat-expansion-panel>

    <mat-expansion-panel class="expansion-panel">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <span class="panel-title">Exchange</span>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="nav-container">
            <app-nav-element iconName="mail" text="Exchange Sicherheit"></app-nav-element>
        </div>
  </mat-expansion-panel>

  <mat-expansion-panel class="expansion-panel">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <span class="panel-title">Verwalten</span>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="nav-container">
        <app-nav-element iconName="dashboard" text="Benutzer" [isFilled]="true"></app-nav-element>
        <app-nav-element iconName="assignment_ind" text="Rollen"></app-nav-element>
        <app-nav-element iconName="account_tree" text="Organisationseinheiten"></app-nav-element>
    </div>
</mat-expansion-panel>
</div>