<div class="container">
    <img src="./../../assets/gdata-logo.png" alt="GDATA logo" height="40px">
    <button mat-mini-fab class="user-btn" [matMenuTriggerFor]="menu">
        <mat-icon class="user-logo">person</mat-icon>
    </button>
    <mat-menu #menu="matMenu" class="menu">
        <div class="menu-items-container">
            <div class="user-info-container">
                <p>{{user.name}}</p>
                <p>{{user.email}}</p>
            </div>
            <div>
                <button mat-menu-item>
                    <mat-icon class="material-icons-outlined icon">account_circle</mat-icon>
                    <span>My profile</span>
                </button>
                <button mat-menu-item>
                    <mat-icon class="material-icons-outlined icon">mode_night</mat-icon>
                    <span>Dark mode</span>
                </button>
                <button mat-menu-item>
                    <mat-icon class="material-icons-outlined icon">public</mat-icon>
                    <span>Imprint</span>
                </button>
                <button mat-menu-item>
                    <mat-icon class="material-icons-outlined icon">verified_user</mat-icon>
                    <span>Privacy</span>
                </button>
                <button mat-menu-item>
                    <mat-icon class="material-icons-outlined icon">topic</mat-icon>
                    <span>Third Party Libraries</span>
                </button>
            </div>
            <div class="btn-container">
                <button mat-menu-item>
                    <mat-icon class="material-icons-outlined icon">power_settings_new</mat-icon>
                    <span>Logout</span>
                </button>
            </div>
        </div>
    </mat-menu>
</div>