.container {
    display: flex;
    height: 95%;
    width: 95%;
    flex-direction: column;
    padding: 0 1rem 1rem 1rem;

}

.header {
    flex: 0 0 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text-container {
    font-size: 1.2rem !important;
    font-weight: 700 !important;
    display: flex;
    align-items: center;
}

.primary {
    color: grey;
    padding-right: 1rem;
}

.secondary {
    padding-left: 1rem;
}

button {
    background-color: #5691d1 !important;
    color: white !important;
}

.arrow-icon {
    font-size: 1.8rem !important;
    font-weight: 500 !important;
}

.table-container {
    padding: 2rem;
    display: block;
    flex-direction: column;
    background-color: white;
    flex: 0 0 90%;
    height: 100%;
    overflow: auto;
}

.table {
    box-shadow: none !important;
    /* display: block; */
    width: 100%;
}

.filter-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.table-wrapper {
    overflow-y: auto;
    height: 650px;

}

::-webkit-scrollbar {
    width: 7.5px;
}

::-webkit-scrollbar-thumb {
    background: #cccccc;
    border-radius: 4px;
}

.mat-mdc-row {
    cursor: pointer;
}

.mat-mdc-row:hover td{
    border-bottom: 1px solid #5691d1 ;
    border-top: 1px solid #5691d1;
} 

.mat-mdc-row:hover td:first-of-type {
    border-left: 1px solid #5691d1 ;
}

.mat-mdc-row:hover td:last-of-type {
    border-right: 1px solid #5691d1 ;
}

.clicked {
    background-color: #cddef2;
}

.clicked td {
    border: 0px solid grey !important;
}
/* th {
    position: sticky;
    top: 50;
} */