<div class="container">
    <div  class="header">
        <div class="text-container">
            <span class="primary">365 Managed EDR</span>
            <mat-icon class="arrow-icon">navigate_next</mat-icon>
            <span class="secondary">   Endpunkte</span>
        </div>
        <button mat-flat-button (click)="download($event)">
            <mat-icon *ngIf="!isDownloading">download</mat-icon>
            <span *ngIf="!isDownloading">Endpunkte exportieren</span>
            <div *ngIf="isDownloading">
                <mat-spinner class="spinner" [diameter]="18"></mat-spinner>
                Endpunkte exportieren
            </div>
        </button>
    </div>
    <div class="table-container">
        <div class="filter-container">
            <mat-form-field appearance="outline">
                <mat-label>Organisationseinheiten</mat-label>
                <mat-select>
                <mat-option *ngFor="let element of selectOptions" [value]="element.value">
                    {{element.viewValue}}
                </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Suchen</mat-label>
                <input matInput placeholder="Placeholder">
                <mat-icon matSuffix class='material-icons-outlined'>search</mat-icon>
              </mat-form-field>
        </div>

        <div class="table-wrapper">
            <table #tmpTable mat-table [dataSource]="visibleData()" class="mat-elevation-z8 table">
                <ng-container matColumnDef="Name">
                    <th mat-header-cell *matHeaderCellDef> Name </th>
                    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                </ng-container>
                <ng-container matColumnDef="Status">
                    <th mat-header-cell *matHeaderCellDef> Status </th>
                    <td mat-cell *matCellDef="let element"> {{element.status}} </td>
                </ng-container>
                <ng-container matColumnDef="lastUpdate">
                    <th mat-header-cell *matHeaderCellDef> letztes Update </th>
                    <td mat-cell *matCellDef="let element"> {{element.lastUpdate}} </td>
                </ng-container>
                <ng-container matColumnDef="Version">
                    <th mat-header-cell *matHeaderCellDef> Version </th>
                    <td mat-cell *matCellDef="let element"> {{element.version}} </td>
                </ng-container>
                <ng-container matColumnDef="Tag">
                    <th mat-header-cell *matHeaderCellDef> Tag </th>
                    <td mat-cell *matCellDef="let element"> {{element.tag}} </td>
                </ng-container>
                <ng-container matColumnDef="Organisationseinheit">
                    <th mat-header-cell *matHeaderCellDef> Organisationseinheit </th>
                    <td mat-cell *matCellDef="let element"> {{element.organisationUnit}} </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns, sticky:true"></tr>
                <tr mat-row [ngClass]="{'clicked' : this.selectedId === row.id}"  (click)="rowSelected(row)" *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>
        <mat-paginator #paginator
               class="demo-paginator"
               (page)="handlePageEvent($event)"
               [length]="service.data()?.length ?? 0"
               [pageSize]="pageSize()"
               [showFirstLastButtons]="showFirstLastButtons"
               [pageSizeOptions]="showPageSizeOptions ? pageSizeOptions : []"
              
               [pageIndex]="pageIndex()"
               aria-label="Select page">
    </mat-paginator>
    </div>
</div>