<div class="container" ((keydown))="handleKeyPress($event)" *ngIf="data$ | async as display" >
  <!-- <div *ngIf="display | async as Hello">
    {{test(Hello.endpoint)}}
  </div>  -->
  <div class="header">
    <p>Details</p>
    <mat-icon (click)="handleClick()"> close </mat-icon>
  </div>
  <div class="main-content" >
    <mat-expansion-panel class="expansion-panel" [expanded]="true">
      <mat-expansion-panel-header class="expansion-header">
        <mat-panel-title class="panel-title"> Endpunkt </mat-panel-title>
      </mat-expansion-panel-header>
      <div>
        <app-details-element key="Name" [value]="display.endpoint.name"></app-details-element>
        <app-details-element key="Status" [value]="display.endpoint.status"></app-details-element>
        <app-details-element key="ID" [value]="display.endpoint.id"></app-details-element>
        <app-details-element key="Kunde" [value]="display.endpoint.kunde"></app-details-element>
        <app-details-element key="Betriebsystem" [value]="display.endpoint.betriebsystem"></app-details-element>
        <app-details-element key="Organisationseinheit" [value]="display.endpoint.organisationUnit"></app-details-element>
        <!-- <app-details-element key="Tag" [value]="display.endpoint.tag"></app-details-element>  -->

        <app-tag-editor [selectedId]="service.selectedId()" [tags]="display.endpoint.tag"></app-tag-editor>
      </div>
    </mat-expansion-panel>
    <mat-expansion-panel *ngIf="display.agent"  class="expansion-panel" [expanded]="true">
      <mat-expansion-panel-header class="expansion-header">
        <mat-panel-title class="panel-title"> Agent </mat-panel-title>
      </mat-expansion-panel-header>
      <div>
        <app-details-element key="ID" [value]="display.agent.id"></app-details-element>
        <app-details-element key="Setup ID" [value]="display.agent.setupId"></app-details-element>
        <app-details-element key="Version" [value]="display.agent.version"></app-details-element>
        <app-details-element key="Zuletzt gesehen" [value]="display.agent.zuletztGesehen"></app-details-element>
        <app-details-element key="Letztes Update" [value]="display.agent.letztesUpdate"></app-details-element>
        <app-details-element key="Analyst Session" [value]="display.agent.analystSession"></app-details-element>
      </div>
    </mat-expansion-panel>
    <mat-expansion-panel class="expansion-panel" [expanded]="true" *ngIf="display.agent">
      <mat-expansion-panel-header class="expansion-header">
        <mat-panel-title class="panel-title">
          Agent Konfiguration
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div> 
      <mat-slide-toggle (click)="handleFirstToggle($event, display.agent.id, display.agent.stopMalware, display.agent.response)" [checked]="display.agent.stopMalware" color="primary"
        class="slide-toggle">Schadcode stoppen</mat-slide-toggle>
      <mat-slide-toggle (click)="handleSecondToggle($event, display.agent.id, display.agent.stopMalware, display.agent.response)" [checked]="display.agent.response" color="primary"
        class="slide-toggle">Response durch Analysten</mat-slide-toggle>
      </div> 
    </mat-expansion-panel>
    <div class="msg-container" *ngIf="!display.agent">
      Auf dem Endpunkt ist kein Agent installiert
    </div>
  </div>
  <div class="footer" *ngIf="display.agent">
    <button mat-flat-button class="btn-delete" (click)="handleDelete($event, display.endpoint.name, display.endpoint.status, display.agent.id)" color="warn">
      <mat-icon>delete</mat-icon>
      <p>Agent deinstallieren</p>
    </button>
  </div>  
  
</div>