.container {
    height: 100%;
    border-left: 1px solid lightgray;
    display: grid;
    grid-template-rows: 100px 1fr auto;
}

.footer {
    padding: 1.5rem 0.8rem;
}

.footer button {
    width: 100%;
    background-color: white;
    border: 1px solid red;
    color: red;
}

.footer button p {
    font-weight: bold;
}

.header {
    height: 100%;
    border-bottom: 1px solid lightgrey;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 2rem;
    padding-right: 1rem;
}

.header p {
    font-weight: 400;
    font-size: 1.75rem;
}

.header mat-icon:hover{
    color: red;
    cursor: pointer;
}

.main-content {
    border-top: 1px solid lightgrey;
}

.expansion-panel {
    box-shadow:  none !important;
    position: relative;
}

.panel-title {
    font-size: 16px;
    font-weight: 700;
}

.expansion-panel div {
    display: flex;
    flex-direction: column;
}

p {
    margin: 0 !important;
}

.expansion-header {
    height: auto !important;
    padding-top: 1.5rem;
    padding-bottom: 10px;
}

.slide-toggle {
    margin: 5px;
}